:root {
    --primary-color: #EEDFE0;
    --secundary-color: #6E5E5D;
    --terciary-color: #A58863;
    --quarta-cor: #755F5B;
    --quinta-cor: #DBB084;
    --sexta-cor: #3E2C26;
    --setima-cor: #8B8080;

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 35px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    font-size: 24px;
    color: var(--secundary-color);
}

.petala {
    font-size: 2em;
    color: var(--secundary-color);
    font-family: sans-serif;
}

.navegacao {
    display: flex;
    gap: 30px;
    word-spacing: 10px;
    font-family: sans-serif;
    font-size: 10px;
}

.pesquisa i {
    font-size: 34px;
    color: var(--sexta-cor);
}

main {
    position: relative;
    margin: 6px;
    flex-grow: 1;
    display: flex;
}

.containerEsquerda {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;

    background-color: yellow;
}

.containerDireita {
    width: 80%;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;


    background-color: lightcoral;
}
h1 {
    display: flex;
    font-size: 75px;
    font-family: "Qwitcher Grypen", cursive;
    color: var(--terciary-color);
    padding-left: 4%;
}

h2 {
    display: flex;
    font-size: 70px;
    font-family: "Adamina", serif;
    color: #755F5B;
    padding-left:  4%;
   
}

p{
    display: flex;
    font-size: 26px;
    color: var(--setima-cor);
    font-family: "Adamina", serif;
    padding: 4%;
}

.button{
    width: 286px;
    height: 84px;
    font-size: 30px;
    color: white;
    background-color: var(--quinta-cor);
    margin: 4%;
    border:none
}

.botoes{
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 50%;
  
}
    .seta{
        width: 97px;
        height: auto;
    }

span{
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
    color: var(--quarta-cor);
}

.perfume{
    width: 100%;

   
  

}



