:root {
    --primary-color: #EEDFE0;
    --secundary-color: #6E5E5D;
    --terciary-color: #A58863;
    --quarta-cor: #755F5B;
    --quinta-cor: #DBB084;
    --sexta-cor: #3E2C26;
    --setima-cor: #8B8080;

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1%;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 45px;
    color: var(--secundary-color);
}

.petala {
    font-size: 1.5em;
    color: var(--secundary-color);
    font-family: sans-serif;
}

.navegacao {
    display: flex;
    gap: 30px;
    word-spacing: 10px;
    font-family: sans-serif;
    font-size: 1em;
}

.pesquisa i {
    font-size: 150%;
    color: var(--sexta-cor);
}

main {
    position: relative;
    margin: 6px;
    flex-grow: 1;
    display: flex;

}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* background-color: yellow; */
}

h1 {
    display: flex;
    justify-content: left;
    font-size: 4em;
    font-family: "Qwitcher Grypen", cursive;
    color: var(--terciary-color);
    margin-left: 53px;
}

h2 {
    display: flex;
    justify-content: left;
    font-size: 2em;
    font-family: "Adamina", serif;
    color: #755F5B;
    margin-left: 53px;
   
}

p{
    display: flex;
    justify-content: left;
    font-size: 1em;
    color: var(--setima-cor);
    font-family: "Adamina", serif;
    padding: 4%;
    margin-left: 23px;
}

.button{
    width: 239px;
    height: 52px;
    font-size: 1.2em;
    color: rgb(254, 250, 250);
    background-color: var(--quinta-cor);
    margin: 7%;
    border:none
}

.botoes{
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.4em;
  
  
}
    .seta{
        width: 65px;
        height: 65px;

    }

span{
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
    color: var(--quarta-cor);
}

.perfume{
    width: 100%;
    width: 57%;
    height: auto;
    margin-left: 153px;
}
.rodape{ 
    width: 65%;
    height: 98%;
    margin-top: 0px;
    margin-left: 85px;
 }



