:root {
    --primary-color: #EEDFE0;
    --secundary-color: #6E5E5D;
    --terciary-color: #A58863;
    --quarta-cor: #755F5B;
    --quinta-cor: #DBB084;
    --sexta-cor: #3E2C26;
    --setima-cor: #8B8080;

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 24px;
    color: var(--secundary-color);
}

.petala {
    font-size: 36px;
    color: var(--secundary-color);
    font-family: sans-serif;
}

.navegacao {
    display: flex;
    gap: 30px;
    word-spacing: 10px;
    font-family: sans-serif;
}

.pesquisa i {
    font-size: 34px;
    color: var(--sexta-cor);


}

main {
    background-color: tomato;
    flex-grow: 1;
    display: flex;

}

.containerMain{

    background-color: aqua;
   
    /* width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center; */
   
}

.containerA div {
    display: flex;
   
}



.containerA h1 {
    font-size: 75px;
    font-family: "Qwitcher Grypen", cursive;
    height: 20px;
    font-style: normal;
    color: var(--terciary-color);
    padding: 90px;
 
   
}
.containerA h2 {
    font-size: 64px;
    font-family: "Adamina", serif;
    font-style: normal;
    color: var(--secundary-color);
    padding: 60px;
    background-color: yellow;
}

.containerA h3 {
    font-size: 26px;
    color: var(--setima-cor);
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    background-color: aqua;

}
.containerB {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: aquamarine;
    justify-content: left;
    gap: 20px;
    padding: 5%    
}

.button{
    width: 310px;
    height: 96px;
    font-size: 30px;
    color: white;
    background-color: var(--quinta-cor);
    
    

}

.containerB span {
    font-size: 30px;
    font-family: sans-serif;
    color: var(--quarta-cor);
    
}

.containerC {
    
    width: 50%;
    height: 100%;

}









/* .descricao h2 {
    font-size: 64px;
    color: var(--terciary-color);
    margin-bottom: 40px;
}
.descricao p {
    font-size: 26px;
    color: var(--quinta-cor);
}

.button{
     width: 310px;
     height: 96px;
     background-color: var(--quinta-cor);

}

.descricao span {
    font-size: 50px;
    color: white;
} */