:root {
    --primary-color: #EEDFE0;
    --secundary-color:#6E5E5D;
    --terciary-color: #A58863;
    --quarta-cor: #755F5B;
    --quinta-cor: #DBB084;
  
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    padding: 90px;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    
    gap: 16px;
    background-color: white
}
    
header span {
    font-size: 36px;
    color: var(--secundary-color)
    
}

main {
    background-color: tomato;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
