:root {
    --primary-color: #EEDFE0;
    --secundary-color: #6E5E5D;
    --terciary-color: #A58863;
    --quarta-cor: #755F5B;
    --quinta-cor: #DBB084;
    --sexta-cor: #3E2C26;
    --setima-cor: #8B8080;

}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-size: 24px;
    color: var(--secundary-color);
}

.petala {
    font-size: 1em;
    color: var(--secundary-color);
    font-family: sans-serif;
}

.navegacao {
    display: flex;
    gap: 30px;
    word-spacing: 10px;
    font-family: sans-serif;
}

.pesquisa i {
    font-size: 34px;
    color: var(--sexta-cor);
}

main {
    position: relative;
    background-color: tomato;
    flex-grow: 1;
    display: flex;


}

.containerDireita {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    ;

    background-color: lightgreen;
}

.containerEsquerda {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: lightcoral;
}

h1 {
    display: flex;
    font-size: 75px;
    font-family: "Qwitcher Grypen", cursive;
    color: var(--terciary-color);
    padding: 4%;


    background-color: lightskyblue;
}

h2 {
    display: flex;
    font-size: 80px;
    font-family: "Adamina", serif;
    color: #755F5B;
    padding: 4%;

    background-color: yellow;
}

p{
    display: flex;
    font-size: 26px;
    color: var(--setima-cor);
    font-family: "Adamina", serif;
    padding: 4%;
    background-color: aquamarine;

}

.button{
    width: 200px;
    height: 90px;
    font-size: 30px;
    color: white;
    background-color: var(--quinta-cor);
    margin-top: 4%;
    margin-left: 5%;
    


    
    
   
}



/* .containerEsquerda div {
    display: flex;
   
}

.containerEsquerda h1 {
    font-size: 75px;
    font-family: "Qwitcher Grypen", cursive;
    height: 9%;
    font-style: normal;
    color: var(--terciary-color);
    padding: 9%;}


.containerEsquerda h2 {
    font-size: 64%;
    font-family: "Adamina", serif;
    font-style: normal;
    color: var(--secundary-color);
    padding: 60px;
    background-color: yellow;
}



.containerEsquerda h3 {
    font-size: 26px;
    color: var(--setima-cor);
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
    background-color: aqua;

}
.containerEsquerdaInferior {
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: aquamarine;
    justify-content: left;
    gap: 20px;
    padding: 5%    
}

.button{
    width: 310px;
    height: 96px;
    font-size: 30px;
    color: white;
    background-color: var(--quinta-cor);
    
    

}

.containerEsquerdaInferior span {
    font-size: 30px;
    font-family: sans-serif;
    color: var(--quarta-cor);
    
}

.containerDireita {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 50%;

} */









/* .descricao h2 {
    font-size: 64px;
    color: var(--terciary-color);
    margin-bottom: 40px;
}
.descricao p {
    font-size: 26px;
    color: var(--quinta-cor);
}

.button{
     width: 310px;
     height: 96px;
     background-color: var(--quinta-cor);

}

.descricao span {
    font-size: 50px;
    color: white;
} */